<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}EAT ME!{{else}}ANOTHA!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">SEND BACK TO KITCHEN!</button>
</li>
